.Slider_Images {
	position: relative;
	user-select: none;

	&--wrapper {
		@include block-full;
	}

	&--swiper {
		.swiper {
			position: relative;
			z-index: 0;
			background: color(shadow);
		}
	}

	&--controls {
		position: absolute;
		z-index: 10;
		bottom: 0;
		left: 0;
		padding: 2rem 1rem 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		pointer-events: none;
		background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));

		&-left {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		&-right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}

	&--item {
		&-image {
			background: none;

			&-full {
				background: none;

				display: none;
				height: 100%;

				img {
					object-fit: contain;
				}
			}
		}
	}

	&--button {
		pointer-events: all;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2rem;
		height: 2rem;
		color: #FFFFFF;

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}

		&.__disabled {
			pointer-events: none;
			opacity: 0.4;
		}

		&[data-action="lightbox"] {
			@media #{$sm} {
				display: none;
			}
		}
	}

	&--close,
	&--thumbs {
		display: none;
	}

	&.__lightbox {
		display: none;

		&.__active {
			display: block;
		}

		.Slider_Images--swiper {
			height: 100%;
			width: 100%;

			.swiper {
				height: 100%;

				&-slide {
					height: 100%;
				}
			}
		}

		.Slider_Images--wrapper {
			position: fixed;
			z-index: 999;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: spacing();
		}

		.Slider_Images--overlay {
			background: color(overlay);
			position: fixed;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.Slider_Images--lightbox {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 10;
			background: color(background);
			overflow: hidden;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: space-between;
		}

		.Slider_Images--close {
			position: absolute;
			top: 0;
			right: 0;
			width: 2rem;
			height: 2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 20;
			cursor: pointer;
			color: color(text);
			background: color(background);

			svg {
				width: 1.5rem;
				height: 1.5rem;
			}
		}

		.Slider_Images--item {
			height: 100%;

			&-image {
				display: none;

				&-full {
					display: block;
				}
			}
		}

		.Slider_Images--controls {
			position: relative;
			padding: 1rem;
			margin: 0;
			pointer-events: all;
			background: none;

			&-left {
				display: none;
			}

			&-right {
				width: 100%;
				justify-content: center;
				margin: 0;
			}
		}

		.Slider_Images--button {
			flex-shrink: 0;
			margin: 0;
			color: color(text);
		}

		.Slider_Images--thumbs {
			display: block;
			margin: 0 0.5rem;
			max-width: calc(100% - 6rem);

			.swiper {
				&-slide {
					width: 5rem;
					opacity: 0.5;
					cursor: pointer;

					&-thumb-active {
						opacity: 1;
					}
				}
			}

			&-item {
				width: 5rem;
				height: 3rem;
			}
		}
	}
}