<header class="Header">
	<div class="Header_Main">
		<div class="container">
			<div class="Header_Main--wrapper">
				<div class="Header_Main--menu">
					<div class="Header_Main--toggle">
						<span class="__top"></span>
						<span class="__mid"></span>
						<span class="__btm"></span>
					</div>
				</div>
				<a href="{{ site.link }}" class="Header_Main--logo">
					<img src="{{ wpz_img('logo-wpz.svg') }}" alt="{{ site.name|e('html_attr') }} - Logo">
				</a>
				<div class="Header_Main--aside">
					
				</div>
			</div>
		</div>
	</div>

	{% include 'layout/Menu_Main.twig' %}
</header>
