{% block html_head_container %}

{% include 'layout/Html_Head.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-theme="{{ theme.link }}">		
		{% block header %}
			{% include 'layout/Header.twig' %}
		{% endblock %}

		<main role="main" class="Main">
			{% block content %}{% endblock %}
		</main>
		
		{% block footer %}
			{% include 'layout/Footer.twig' %}
		{% endblock %}

		{{ function('wp_footer') }}
	</body>
</html>
