.Block_Features {
	&--title {
		text-align: center;
		max-width: var(--wpz-container-little);
		margin: 0 auto;

		@media #{$sm} {
			text-align: left;
		}
	}

	&--description {
		max-width: var(--wpz-container-little);
		margin: spacing() auto 0;
		text-align: center;

		&:first-child {
			margin-top: 0;
		}

		@media #{$sm} {
			text-align: left;
		}
	}

	&--slider {
		margin-top: spacing(2);

		&:first-child {
			margin-top: 0;
		}
	}
}

.Slider_Features {
	&--item {
		&-icon {
			width: 2rem;
			height: 2rem;

			svg {
				width: 100%;
				height: 100%;
			}
		}

		&-title {
			margin-top: 1rem;
			font-family: font() !important;
			color: currentColor !important;
			line-height: 1.4;
			font-size: 1rem;

			&:first-child {
				margin-top: 0;
			}
		}

		&-text {
			margin-top: 0.5rem;
			font-size: 0.875rem;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}