button {
	font-family: font();
}

.button {
	--btn-text: #{color(text)};
	--btn-border: #{color(text)};
	--btn-background: transparent;
	--btn-text-hover: #{color(background)};
	--btn-background-hover: #{color(text)};
	--btn-border-hover: #{color(text)};

	color: var(--btn-text);
	background: var(--btn-background);
	border: solid 1px var(--btn-border);
	font-weight: fw(medium);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 0.875rem;
	padding: 0.5rem 1.5rem;
	font-family: font();
	border-radius: 5px;
	line-height: 1.25;
	min-height: 3rem;
	position: relative;
	//transition: ts(color, short), ts(background, short), ts(border-color, short);

	&:hover,
	&.__active {
		background: var(--btn-background-hover);
		color: var(--btn-text-hover);
		border-color: var(--btn-border-hover);
	}

	&.__full {
		width: 100%;
	}

	&.__unclickable {
		pointer-events: none;
	}

	&.__disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	svg {
		width: 1.5em;
		height: 1.5em;
		margin: -0.25em -0.25rem -0.25em 1rem;
		flex-shrink: 0;
	}

	&.__icon-left {
		svg {
			margin-right: 1rem;
			margin-left: -0.25rem;
		}
	}
}

a:hover .button {
	background: var(--btn-background-hover);
	color: var(--btn-text-hover);
	border-color: var(--btn-border-hover);
}
