{% extends "layout/Html.twig" %}

{% block content %}
    <article class="Page404">
        <section class="Block __theme_{{ WPZ().config.page404.wpz_theme }} __spacing_top_XXL __spacing_bottom_XXL" data-scroll-section>
            <div class="container-little">
                <h1 class="Page404--title" data-scroll-item>{{ WPZ().config.page404.title }}</h1>
                <div class="Page404--content wysiwyg-text" data-scroll-item>{{ WPZ().config.page404.text }}</div>
                {% if WPZ().config.page404.buttons|length %}
                    <div class="Block--buttons Page404--buttons" data-scroll-item>
                        {% for button in WPZ().config.page404.buttons %}
                            {{ acf_button(button.data) }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </section>
    </article>
{% endblock %}
